---
---

@import "{{ site.theme }}";

section {
    width: 100%
}

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$text-color:       #111 !default;

table {
  width: 75%;
  margin-left:auto;
  margin-right: auto;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
